/superoscillations_for_quantum_control/Data/
/superoscillations_for_quantum_control/Plots/
/superoscillations_for_quantum_control/Testing/
/.idea/
/superoscillations_for_evanescent_waves/f=0.52THz_interp.npz
/superoscillations_for_evanescent_waves/f=0.63THz_interp.npz
/superoscillations_for_evanescent_waves/f=0.72THz_interp.npz
/superoscillations_for_evanescent_waves/f=0.82THz_interp.npz
/superoscillations_for_evanescent_waves/interpolated_fields.tar.xz
/superoscillations_for_quantum_control/OptimizedJData/
/superoscillations_for_quantum_control/ExpData/
